
    <div>
        <input type="button" class="btn btn-primary float-right mt-3" value="Ajouter" routerLink="/students/add"/>        
        <h1>Liste des etudiants</h1>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Classe</th>
                <th scope="col">Editer</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{student.name}}</td>
                <td>{{student.firstname}}</td>
                <td>{{student.class}}</td>
                <td><input type="button" class="btn btn-info" value="Editer" routerLink="/students/edit/{{i}}" ></td>
                <td><input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteStudent(i)"></td>
              </tr>
            </tbody>
        </table>
    </div>
